.hero{
  display: flex;
}



.pure-menu-heading {
    color: #308d46;
}
    
.custom-display, .displaymenu {
    /* To limit the menu width to 
    the content of the menu: */
    display: inline-block;
}

.displaymenu{
    height: 373.68px;
    width: 256.67px;
    text-align: center;
    font-family: sans-serif;
    font-size: 21px;
}

.outerdiv{
    height: 502.75px;
    width: 172.67px;
    margin-left: 72px;
    margin-top: 48px;
}


.card{
  background: #CFDFFB;
  height: 580px;
  width: 350px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  margin: 25px;
  border-radius: 15px;
}

.heading{
  color: #1658A8;
  font-size: 16px;
}

.description{
  font-size: 14px;
}

.box1{
  box-shadow: 1px 1px 1px 1px;
  border-radius: 2px;
  background-color: white;
  padding: 10px 10px 20px 10px;
}

.box1 h2{
  font-weight: 600;
}

.box1 span{
  font-weight: 600;
}

.code{
  color: #1054A5;
  font-weight: 600;
}

.hero-mid{
  width: 70%;
  height: 200px;
  margin-left: 200px;
  margin-top: 25px;
}

.hero-right{
  margin-left: -100px;
}

.first-img img{
  height: 350px;
  width: 838px;
}

.second-img{
  display: flex;
  gap: 10px;
}

.second-img img{
  height: 250px;
  width: 495px;
  gap: 10px;
}